version: '3'
services:
  retrobot:
    volumes:
      - ./data:/retrobot/data
    build: .
    restart: unless-stopped
    environment:
      - SLACK_BOT_TOKEN=
      - SLACK_SIGNING_SECRET=
      - SLACK_APP_TOKEN=
